/* login.module.css */
.container {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Ensure no overflow */
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo {
    text-align: left;
    margin-bottom: 20px;
}

.logo img {
    width: 100%;
    height:100%;
}

.right {
    position: relative;
    width: 50%; /* Set width to 50% for the image */
    height: 100vh; /* Make it full height */
    overflow: hidden; /* Hide any overflow */
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%; /* Ensure image covers entire container width */
    min-height: 100%; /* Ensure image covers entire container height */
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.formGroup {
    margin-bottom: 20px;
    width: 500px;
}

.input,
.button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s;
    box-sizing: border-box; /* Add box-sizing property */
}

.input:focus {
    border-color: #007bff;
    outline: none;
}

.button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.extraLinks {
    margin-top: 20px;
    text-align: center; /* Center the links horizontally */
}

.extraLinks a {
    display: inline-block;
    margin: 5px; /* Add some margin around the links */
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.extraLinks a:hover {
    color: #0056b3;
}


.link {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.link:hover {
    color: #0056b3;
}

.inputWithIcon {
    position: relative;
}

.passwordToggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Hide image on smaller screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .right {
        display: none;
    }
    .left {
        flex: 1; /* Make .left container occupy full width */
        padding: 20px 10px; /* Adjust padding for smaller screens */
        margin-right: 20px;
        margin-bottom: 20px; /* Add margin to separate .left from .extraLinks */
    }
    .formGroup {
        width: 100%; /* Make form groups full width on smaller screens */
    }

    /* Make input responsive */
    .input {
        padding: 10px; /* Reduce padding for smaller screens */
        font-size: 14px; /* Reduce font size for smaller screens */
    }
}
