/* mapcard.module.css */

/* Ensure the map container takes up the full screen */
.map-container {
    position: relative;
    flex-grow: 1;
    height: calc(100vh - 40px); /* Subtract the header height */
}

/* Ensure the map takes up the full space within its container */
.map {
    width: 150vh; /* Set initial width */
    height: 80vh; /* Set initial height */
}

/* Adjust map size for smaller screens */
@media (max-width: 768px) {
    .map-container {
        height: calc(60vh - 40px); /* Decrease height for smaller screens */
    }

    .map {
        width: 100vw; /* Set map width to fill viewport width */
        height: 50vw; /* Maintain aspect ratio */
    }
}
