/* sidenav.css */

/* Styles for the side navigation */
.sidenav {
  min-width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 60px;
  transition: width 0.3s ease;
}

.sidenav.open {
  width: 250px;
}

/* Styles for the toggle button */
.toggle-btn {
  position: absolute;
  top: 20px;
  left: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  transition: left 0.3s ease;
}

.sidenav:not(.open) .toggle-btn {
  left: 5px;
}

/* Styles for the navigation links */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 15px;
  color: #fff;
  display: flex;
  align-items: center;
}

/* Set fixed width and height for the icons */
ul li svg {
  margin-right: 2px;
  color: #fff; /* Change icon color to white */
}

/* Change color of text to white */
.navLink {
  color: #fff;
  text-decoration: none; /* Remove underline */
}

/* Change background color on hover */
.navLink:hover {
  background-color: #b00909;
}

/* Styles for the logout section */
.logout {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #333;
  border-top: 1px solid #666;
  transition: transform 0.3s ease;
  transform: translateY(100%);
}

.logout.visible {
  transform: translateY(0);
}

.logout li {
  padding: 15px;
  color: #fff;
  display: flex;
  align-items: center;
}

/* Change color of logout icon to white */
.logout li svg {
  margin-right: 10px;
  color: #fff; /* Change icon color to white */
}

/* Change color of logout text to white */
.logout li {
  color: #fff; /* Change text color to white */
}

/* Change background color on hover */
.logout li:hover {
  background-color: #555;
}
