/* sidenav.css */

/* Styles for the side navigation */
.sidenav {
  min-width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 60px;
  transition: width 0.3s ease;
  color: #fff;
  z-index: 2; /* Ensure side navigation is above the main content */
}

/* Styles for the toggle button */
.toggle-btn {
  position: absolute;
  top: 20px;
  left: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  background-color: #333;
  padding: 8px;
  transition: left 0.3s ease, background-color 0.3s ease;
}

.toggle-btn:hover {
  background-color: #555;
}

.sidenav:not(.open) .toggle-btn {
  left: 5px;
}

/* Styles for the navigation links */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 15px;
  color: #fff;
  display: flex;
  align-items: center;
}
ul li:hover {
  background-color: #b00909;
}

ul li svg {
  margin-right: 2px;
  color: #fff;
}

/* Change color of text to white */
.navLink {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Change background color on hover */
.navLink:hover {
  background-color: #b00909;
}

/* Styles for the logout section */
.logout {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #333;
  border-top: 1px solid #666;
  transition: transform 0.3s ease;
  transform: translateY(100%);
}

.logout.visible {
  transform: translateY(0);
}

.logout li {
  padding: 15px;
  color: #fff;
  display: flex;
  align-items: center;
}

/* Change color of logout icon to white */
.logout li svg {
  margin-right: 10px;
  color: #fff;
}

/* Change color of logout text to white */
.logout li {
  color: #fff;
}

/* Change background color on hover */
.logout li:hover {
  background-color: #555;
}

/* Adjust the top-nav styles to place it at the top of the page */
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8); /* Background color with decreased opacity */
  color: #fff;
  z-index: 3;
  padding: 10px 20px;
  margin-left: 200px; /* Initial margin-left when sidenav is open */
}

.top-nav ul {
  list-style-type: none;
  padding: 0;
}

.top-nav ul li {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.top-nav ul li:hover {
  text-decoration: underline;
}

/* Styles for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
}

.close-button:hover {
  color: #ccc; /* Change color on hover */
}

/* Add margin-left when sidenav is open */
.sidenav.open + .top-nav {
  margin-left: 200px; /* Adjust this value as needed */
}

/* Remove margin-left when sidenav is closed */
.sidenav:not(.open) + .top-nav {
  margin-left: 50px; /* Adjust this value as needed */
}
