/* dashboard.module.css */

.main {
    padding: 40px;
    padding-left: 250px; /* Adjust left padding to accommodate the expanded sidebar */
    position: relative; /* Ensure relative positioning for absolute positioning of chatbox */
    height: 100vh; /* Set the height of the main container to 100% of viewport height */
    z-index: 1; /* Ensure main content is above the side navigation */
}

.container {
    display: flex;
}

/* Adjust the map container to fill the available space */
#map {
    width: 100%; /* Ensure the map takes up the full width of its container */
    height: 100%; /* Ensure the map takes up the full height of its container */
}

.heading {
    font-family: "Arial", sans-serif; /* Change font family */
    font-size: 28px; /* Change font size */
    font-weight: bold; /* Make the font bold */
    color: #333; /* Change text color */
    margin-bottom: 20px; /* Add some margin at the bottom */
}
